/* ================= MAIN ================= */

main.container {
  padding-top: 120px;
  padding-left: 3rem;
  padding-right: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ================= IMAGEM ================= */

.error-image {
  max-width: 520px;
  width: 50%;
  margin-bottom: 2rem;
}

.error-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* ================= TEXTO 404 ================= */

.error-wrapper {
  max-width: 600px;
}

.error-wrapper h1 {
  font-size: 120px;
  margin: 0;
  color: #471C02;
}

.error-wrapper h2 {
  margin-top: 0;
  font-size: 28px;
  color: #471C02;
}

.error-wrapper p {
  font-size: 18px;
  color: #7C3606;
  margin: 1rem 0 2rem;
}

.error-wrapper a {
  display: inline-block;
  padding: 12px 28px;
  background: #471C02;
  color: #fffaeb;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  transition: transform .2s ease;
  box-shadow: 0 8px 8px rgba(220, 224, 230, 0.9);
}

.error-wrapper a:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 10px rgba(48, 126, 128, 0.25);
}

/* ================= RESPONSIVO ================= */

@media (max-width: 768px) {
  main.container {
    padding-top: 170px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}