.titulo-encomenda {
  text-align: center;
  margin: 2rem 0 2.5rem 0;
}

.titulo-encomenda p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  color: #471C02;
}