/* ================= CONTEÚDO ================= */

main.container {
  margin-top: 70px;
  padding: 2rem;
}

/* Container geral da home */
.home-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

/* ================= CARDS GRANDES ================= */

.cards-main {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* ================= CARDS SMOL ================= */

.cards-smol {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-smol-card {
  position: relative;
  text-align: center;
  flex: 0 0 auto;
  max-width: 170px; /* menor que o principal */
}

.btn-smol-card p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
  color: #471C02;
}

.btn-smol-card img {
  width: 100%;
  aspect-ratio: 380 / 600;
  border-radius: 12px;
  object-fit: cover;
  transition: all 0.4s ease;
  filter: brightness(0.95);
}

.btn-smol-card:hover img {
  filter: blur(3px) brightness(0.7);
}

.btn-smol-card .overlay {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.btn-smol-card:hover .overlay {
  opacity: 1;
}

.btn-smol-card .overlay span {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

/* ================= RESPONSIVO ================= */
@media (max-width: 768px) {
  main.container {
    margin-top: 170px;
  }

  .cards-main,
  .cards-smol {
    gap: 1.8rem;
  }
}