 /* Card visual do quadro */
  .card-outros {
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
    padding-bottom: 0px; padding-top: 10px;
    cursor: pointer; /* indica que é clicável */
    margin-bottom: 0; /* garante que não haja margem extra */
  }

  .card-outros:hover {
    transform: translateY(-4px);
  }

  .card-outros img {
    display: block; /* remove gap fantasma */
    aspect-ratio: auto; /* mantém a proporção natural da imagem */
    max-height: 250px;  /* limita a altura para não esticar tanto */
    width: 100%;
    object-fit: cover;
    transition: filter 0.4s ease;
  }

  /* efeito de hover na imagem */
  .card-outros:hover img {
    filter: blur(2px) brightness(0.75);
  }

  .conteudo {
      padding: 0.5rem 1rem; /* padding menor */
  }

  .conteudo h2 {
    margin: 0;
    font-size: 1.3rem;
    color: #000;
  }

  .status {
      margin-top: 0.2rem; /* reduzir ainda mais */
    font-weight: bold;
    font-size: 0.95rem;
  }

  .disponivel {
    color: #2e7d32;
  }

  .indisponivel {
    color: #c62828;
    opacity: 0.75;
  }