/* ================= CONTEÚDO ================= */

.header-location{
  font-size: x-large;
  font-family: 'Pacifico', cursive;
}

h1 {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 34px;
  font-weight: 900;
  background: linear-gradient(90deg, var(--rosa), var(--amarelo-vivo), var(--verde-tropical), var(--azul-vivo));
  -webkit-background-clip: text;
  color: transparent;
}

.grid-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Inicio {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  max-width: 1100px;
  margin: 40px auto;
}

/* imagem */
.Inicio img {
  width: larger(300px, 25vw);
}

/* texto */
.inicio-texto p {
  color: #000;
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* ================= RESPONSIVO ================= */
@media (max-width: 768px) {
  main.container {
    margin-top: 170px;
  }

  .cards-main,
  .cards-smol {
    gap: 1.8rem;
  }
}
